<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee9989">  <td>21/01/26 11:27:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestCase.WriteToForm()[pri:0, instance:tests.FirstTestCase@731a74c]">WriteToForm</td> 
  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/26 11:27:46</td>   <td>17806</td> <td>&nbsp;</td><td title="&lt;&lt;FirstTestCase.endreport()[pri:0, instance:tests.FirstTestCase@731a74c]">&lt;&lt;endreport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/26 11:27:46</td>   <td>17654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTestCase.getResult(org.testng.ITestResult)[pri:0, instance:tests.FirstTestCase@731a74c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/26 11:27:46</td>   <td>17805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTestCase.getResult(org.testng.ITestResult)[pri:0, instance:tests.FirstTestCase@731a74c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/26 11:27:46</td>   <td>17672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestCase.readExcel()[pri:0, instance:tests.FirstTestCase@731a74c]">readExcel</td> 
  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/26 11:27:28</td>   <td>-339</td> <td>&nbsp;</td><td title="&gt;&gt;FirstTestCase.startReport()[pri:0, instance:tests.FirstTestCase@731a74c]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
</table>
