<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>FirstTestCase.readExcel()[pri:0, instance:tests.FirstTestCase@5a8e6209]<br/></td></tr>
<tr><td>Sanity</td><td>FirstTestCase.readExcel()[pri:0, instance:tests.FirstTestCase@5a8e6209]<br/></td></tr>
</table>
